# Immich Dapitan Configuration
UPLOAD_LOCATION=<YOUR_UPLOAD_LOCATION>
DB_DATA_LOCATION=<YOUR_DB_DATA_LOCATION>
IMMICH_VERSION=<YOUR_IMMICH_VERSION>
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_USERNAME=<YOUR_DB_USERNAME>
DB_DATABASE_NAME=<YOUR_DB_DATABASE_NAME>
